<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkout</title>
  <link rel="stylesheet" href="/public/assets/style.css">
</head>
<body>
  {% include 'partials/header.twig' %}
  <main>
    {% include '/contact.twig' %}
    {% include '/shipping.twig' %}
    {% include '/payment.twig' %}
  </main>
  {% include 'partials/footer.twig' %}
</body>
</html>
